v-card(v-if="episode.attributes")
  v-img(:src='episode.attributes.anime.data.attributes.cover_url')
  v-card-title(primary-title='')
    div
      .headline {{episode.attributes.anime.data.attributes.name}} capitulo {{episode.id}}
  v-card-actions
    v-btn(flat='') Share
    v-btn(flat='', color='purple') Explore
    v-spacer
    v-btn(icon='', @click='show = !show')
      v-icon {{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
  v-slide-y-transition
    v-card-text(v-show='show') {{episode.attributes.anime.data.attributes.synopsis}}