v-card
  v-img(src='http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d2e8a7b91c7a246d285e0425d1863c818b24a95e/black-clover-cover.jpeg')
  v-card-title(primary-title='')
    div
      .headline Top western road trips
  v-card-actions
    v-btn(flat='') Share
    v-btn(flat='', color='purple') Explore
    v-spacer
    v-btn(icon='', @click='show = !show')
      v-icon {{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
  v-slide-y-transition
    v-card-text(v-show='show')
      | I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.