footer.page-footer.blue-grey.darken-4
  .container
    .row
      .col.s3
        h4.white-text About Betube
        p Betube video wordpress theme lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s book.
      .col.s3
        h4.white-text Recent Videos
        .row
          ul
            li(v-for="anime in animes")
              a(href="") {{ anime.name }}
                
      .col.s3
  .footer-copyright
    .container
      | © 2014 Copyright Text
