#home
  .row
    .container
      .col.s12
        img.logo(src="@/assets/One_Piece_logo.png", alt="")
  .row
    .container
      .col.s12.l4(v-for="anime in animes")
        animeCard(:anime="anime")
  .row
    .container
      center 
        ul.pagination
          li.disabled
            a(href="")
              i.material-icons chevron_left
          li.active
            a(href="") 1
            li
              a(href="") 2
          li.waves-effect
            a(href="#!")
              i.material-icons chevron_right
