#home
  .row.grey.lighten-4
    .container
      .col.s4.l6
          i.material-icons.large.left-align local_movies
      .col.s8.l6
          h5.large.left-align Últimos episodios
  .row
    .container
      .col.s12.l4(v-for="anime in animes",v-if="isLoad")
        animeCard(:anime="anime")
      .col.s12(v-if="!isLoad")
        center
          preloader
  .row
    .container
      center 
        ul.pagination
          li.disabled
            a(href="")
              i.material-icons chevron_left
          li.active
            a(href="") 1
            li
              a(href="") 2
          li.waves-effect
            a(href="#!")
              i.material-icons chevron_right
