.card
  .card-image
    picture
      source(media="(max-width: 568px)", :srcset="episode.anime.cover_small_url")
      source(media="(max-width: 1280px)", :srcset="episode.anime.cover_medium_url")
      img.activator.responsive-img(:src="episode.anime.cover_url")
    span.card-title.title.col.s12
      //- router-link.white-text(:to="{ name: 'anime', params: { id: 'anime.id' }}")
      router-link.white-text(:to="{ name: 'anime', params: { id: episode.anime.id }}")
        strong {{ episode.anime.name }}
  .card-content
    span.card-title.activator.grey-text.text-darken-4
      | Eposodio {{episode.id}}
      i.material-icons.right more_vert
  .card-action
    router-link(:to="{ name: 'anime', params: { id: episode.anime.id }}") Ver episodio
  .card-reveal
    span.card-title.grey-text.text-darken-4
      i.material-icons.right close
    p.text-justify {{episode.anime.synopsis}}
