.card
  .card-image
    picture
      source(media="(max-width: 568px)", :srcset="episode.attributes.anime.data.attributes.cover_small_url")
      source(media="(max-width: 1280px)", :srcset="episode.attributes.anime.data.attributes.cover_medium_url")
      img.activator.responsive-img(:src="episode.attributes.anime.data.attributes.cover_url")
    span.card-title.title.col.s12
      router-link.white-text(:to="{ name: 'anime', params: { id: episode.attributes.anime.data.id }}")
        strong {{ episode.attributes.anime.data.attributes.name }}
  .card-content
    span.card-title.activator.grey-text.text-darken-4
      | Eposodio {{episode.id}}
      i.material-icons.right more_vert
  .card-action
    router-link(:to="{ name: 'episode', params: { id: episode.id }}") Ver episodio
  .card-reveal
    span.card-title.grey-text.text-darken-4
      i.material-icons.right close
    p.text-justify {{episode.attributes.anime.data.attributes.synopsis}}
